/* theme independent styling */
div.slides {
  position: fixed;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}

div.slide {
  position: fixed;
  width: 1004px; /*1024-10-10*/
  height: 668px; /*768-30-70*/
  padding: 70px 10px 30px 10px;
  /*-webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);*/
}
div.slideCurrent {
  left: 0px;
  top: 0px;
}

div.slidePrev {
  left: -1100px;
  top: 0px;
}

div.slideNext {
  left: 1100px;
  top: 0px;
}

div.slideFarPrev {
  left: -2200px;
  top: 0px;
}

div.slideFarNext {
  left: 2200px;
  top: 0px;
}

div.slideThumb {
  -webkit-transform: translateZ(0), scale(0.25);
  float: left;
  position: relative;
  margin: 50px;
}
div.notRevealed {
  opacity: 0.1;
}

/* headings (first h1 heading goes to the top of the slide) */
div.slide > h1:first-of-type {
  position: absolute;
  top: 6px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  display: block;
}

/* center content horizontally and vertically */
.center {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;

  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}

/* add-on class to 'slide' for centered titles */
div.centertitle {
  text-align: center; 
  width: 80%; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 30%; 
  font-family: 'Droid Sans';
  text-shadow: 3px 3px 5px rgb(180,180,180);
  font-size: 300%;
}

/* helper class for the spotlight canvas (transparent for mouse interaction) */
canvas.jslideSpotlight {
  pointer-events: none;
  z-index: 10;
  position: fixed;
  display: none;
  top: 0px;
  left: 0px;
}

/* element to host SVG overlay per slide (to draw arrows etc) */
div.svgOverlay {
  pointer-events: none;
  z-index: 10;
  position: absolute;
  width: 1024px;
  height: 768px;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
}

div.clock {
  position: absolute;
  top: 20px;
  right: 100px;
  width: 300px;
  height: 40px;
  text-align: right;
  color: white;
  display: none;
  font-family: 'Droid Sans';
  font-size: 30px;
  text-shadow: 3px 3px 5px rgb(100,100,100);
  z-index: 22;
}
.stepprogress {
  position: absolute;
  top: 6px;
  right: -110px;
  /*width: 40px;
  height: 40px;*/
  -webkit-transform-origin: 0 0;
  -webkit-transform: scale(0.25,0.25);
  -moz-transform-origin: 0 0;
  -moz-transform: scale(0.25,0.25);
  -o-transform-origin: 0 0;
  -o-transform: scale(0.25,0.25);
  z-index: 22;
}

/* this add-on class seems to crash google chrome */
div.twocol {
  -webkit-column-count: 2;
  -webkit-column-rule: 1px solid #bbb;
  -webkit-column-gap: 2em;
  -moz-column-count: 2;
  -moz-column-rule: 1px solid #bbb;
  -moz-column-gap: 2em;
  column-count: 2;
  column-rule: 1px solid #bbb;
  column-gap: 2em;
}

/* suppress scroll bars (won't be needed in any case!) */
body {
  overflow: hidden;
  margin: 0px; padding: 0px;
}
 @media print {
   .page-break { display:block; page-break-before:always; }
}
