/* theme independent styling */
div.slide {
  position: absolute;
  width: 1004px; /*1024-10-10*/
  height: 686px; /*786-30-70*/
  left: 0px;
  right: 0px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -moz-border-radius: 10px;
  padding: 70px 10px 30px 10px;
}

/* headings (first h1 heading goes to the top of the slide) */
div.slide > h1:first-of-type {
  position: absolute;
  top: 6px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  display: block;
}

/* center content horizontally and vertically */
.center {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;

  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}

/* add-on class to 'slide' for centered titles */
div.centertitle {
  text-align: center; 
  width: 80%; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 30%; 
  font-family: 'Droid Sans';
  text-shadow: 3px 3px 5px rgb(180,180,180);
  font-size: 300%;
}

/* helper class for the spotlight canvas (transparent for mouse interaction) */
canvas.jslideSpotlight {
  pointer-events: none;
  z-index: 10;
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
}

/* this add-on class seems to crash google chrome */
div.twocol {
  -webkit-column-count: 2;
  -webkit-column-rule: 1px solid #bbb;
  -webkit-column-gap: 2em;
  -moz-column-count: 2;
  -moz-column-rule: 1px solid #bbb;
  -moz-column-gap: 2em;
  column-count: 2;
  column-rule: 1px solid #bbb;
  column-gap: 2em;
}

/* suppress scroll bars (won't be needed in any case!) */
body {
  overflow: hidden;
  margin: 0px; padding: 0px;
}
