/* theme independent styling */
div.slide {
  position: absolute;
  width: 1004px; /*1024-10-10*/
  height: 686px; /*786-30-70*/
  left: 0px;
  right: 0px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -moz-border-radius: 10px;
  padding: 70px 10px 30px 10px;
}

/* default slide theme (spit into seperate file to allow for multiple themes) */
div.slide {
  border-radius: 10px;
  background-color: white;
  -webkit-transition: all 0.5s ease-in-out;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.07, rgb(255,150,0)),
    color-stop(0.07, rgb(200,200,200)),
    color-stop(0.10, rgb(255,255,255)),
    color-stop(0.99, rgb(205,205,255)),
    color-stop(0.99, rgb(255,150,0))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(200,1,136) 0%,
    rgb(174,198,164) 66%,
    rgb(209,238,197) 86%
  );
}
img.logo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0.25;
  width: 50px;
}

/* headings (first h1 heading goes to the top of the slide) */
h1, h2, h3, h4 { font-family: 'Droid Sans' }
div.slide > h1:first-of-type {
  position: absolute;
  top: 6px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  display: block;
  color: white;
  text-shadow: 3px 3px 5px rgb(128,75,0);
}

/* center content horizontally and vertically */
.center {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;

  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}

/* add-on class to 'slide' for centered titles */
div.centertitle {
  text-align: center; 
  width: 80%; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 30%; 
  font-family: 'Droid Sans';
  text-shadow: 3px 3px 5px rgb(180,180,180);
  font-size: 300%;
}

/* helper class for the spotlight canvas (transparent for mouse interaction) */
canvas.jslideSpotlight {
  pointer-events: none;
  z-index: 10;
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
}

/* this add-on class seems to crash google chrome */
div.twocol {
  -webkit-column-count: 2;
  -webkit-column-rule: 1px solid #bbb;
  -webkit-column-gap: 2em;
  -moz-column-count: 2;
  -moz-column-rule: 1px solid #bbb;
  -moz-column-gap: 2em;
  column-count: 2;
  column-rule: 1px solid #bbb;
  column-gap: 2em;
}

/* suppress scroll bars (won't be needed in any case!) */
body {
  background-color: gray;
  margin: 0px; padding: 0px;
  overflow: hidden;
}
